// Variables

$title-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;
$regular: 400;
$bold: 700;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// Global Resets

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $body-font;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    font-family: $title-font;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}