.name {
    font-weight: $regular;

    &-last {
        font-weight: $bold;
    }
}

.social {
    font-size: 1.3em;

    i {
        margin: 8px;
        padding: 10px;
        border: 1px solid $color-primary;
        border-radius: 50%;

        &:hover {
            background-color: $color-primary;
            color: $color-accent;
            border: 2px solid $color-primary;
        }
    }
}

.divider-line {
    display: inline-block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 1px solid black;
    margin: 2em 0;
    padding: 0;
}

footer {
    font-size: .8em;
}

// .angled-box {
//     position: absolute;
//     background-color: $color-accent;
//     width: 150%;
//     height: 50px;
//     z-index: -1;
//     transform: rotate(-5deg) translateY(0);
//     overflow: hidden;
// }
