/*.angled-box {
    position: absolute;
    background-color: #00e6e6;
    width: 150%;
    height: 50px;
    z-index: -1;
    transform: rotate(0deg) translateY(0px);
}*/

.name {
    font-weight: $regular;
    font-size: 2em;

    &-last {
        font-weight: $bold;
    }
}

.sub-title {
        font-family: $body-font;
        font-size: 1.2em;
}

.social {
    color: #696969;
    font-size: 1.3em;

    i {
        margin: 8px;
        padding: 10px;
        border: 2px solid #696969;
        border-radius: 50%;

        &:hover {
            background-color: black;
            color: white;
            border: 2px solid black;
        }
    }
}

.divider-line {
    display: inline-block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 1px solid black;
    margin: 2em 0;
    padding: 0;
}

footer {
    font-size: .8em;
}