.wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .social {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        
        li {
            display: inline-block;
            
        }
    }
}

// Skills section

.skills {

    .skill-list {
        margin: 1.5em;

        .skill-item {
            display: inline-block;
            margin: 10px;
        }
    }
}

// Projects section

.projects {

    &-list {
        padding: 1.5em;
        
    }

    &-item {
        padding: .5em;
        margin: .5em 0;
        border: 1px solid #696969;
        box-shadow: 2px 2px 2px #696969;
        text-align: left;
        
        &:hover {
            background: #696969;
            color: white;
        }
    }
}

//About Me section

.about {

    .about-content {
        text-align: center;
        line-height: 1.5em;
        margin: 1.5em;
        padding: .5em;
    }
}

// Footer

footer {
    height: 10vh;
    width: 100%;
}