.wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .social {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

// Skills section

.skills {

    .skill-list {
        width: 75%;
        margin: 1em;
        padding: .5em;

        .skill-item {
            margin: 10px;
        }
    }
}

// Projects section

.projects {
   
    &-list {
    }

    &-info {
        //background-color: red;
        background: url(images/tributePageThumb.png);
        padding: .5em;
        margin: .5em;
        border: 1px solid #696969;
        box-shadow: 2px 2px 2px #696969;
        text-align: left;
    }
}

// About Me section

.about {

    .about-content {
        text-align: center;
        line-height: 1.5em;
        margin: 1em;
        padding: .5em;
    }
}

// Footer

footer {
    height: 10vh;
    width: 100%;
}