.nav {
    position: absolute;
    display: block;
    width: 100%;
    font-family: $body-font;
    text-align: right;
    
    @media only screen and (min-width: $bp-tablet) {
        background-color: $color-white;
        border-bottom: 1px solid $color-black;
    }

    &-link {
        display: none;
        padding: 1em;

        @media only screen and (min-width: $bp-tablet) {
            display: inline-block;
        }

        &:hover {
            color: $color-white;
            background-color: $color-black; 
        }
    }

    &-icon {
        color: $color-black;
        font-size: 1.8em;
        position: absolute;
        top: .5em;
        right: 1em;
        
        @media only screen and (min-width: $bp-tablet) {
            display: none;
        }
    }

}
/*
responsive class is added to
 #topNav onClick and removed when
 an anchor tag is clicked.
 */

.responsive {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10vh;
    background-color: $color-white;
    
    .nav-link {
        display: initial;
        color: $color-black;
        margin: 0.5em;
        padding: .5em;
        border-bottom: 1px solid $color-black;
    }

}