
.projects {

    &-list {
    

        @media only screen and (min-width: $bp-tablet) {

        }
    }

    &-item {
        border: 1px solid #696969;
        text-align: left;
        
        &:hover {
            background: #696969;
            color: white;
        }
    }
}
