html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

html, body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
}

.name {
  font-size: 2em;
  color: #fcffdb;
  text-shadow: 1px 1px #e7505a, 2px 2px #e7505a, 3px 3px #e7505a, 4px 4px #e7505a, 5px 5px #e7505a;
}

@media only screen and (min-width: 768px) {
  .name {
    font-size: 6em;
    text-shadow: 1px 1px #e7505a, 2px 2px #e7505a, 3px 3px #e7505a, 4px 4px #e7505a, 5px 5px #e7505a, 6px 6px #e7505a, 7px 7px #e7505a, 8px 8px #e7505a, 9px 9px #e7505a, 10px 10px #e7505a;
  }
}

.sub-title {
  font-size: 1em;
  color: #fcffdb;
}

@media only screen and (min-width: 768px) {
  .sub-title {
    font-size: 2em;
  }
}

.social {
  font-size: 1.3em;
}

.social i {
  color: #fcffdb;
}

.social i:hover {
  color: #e7505a;
  -webkit-box-shadow: 4px 4px solid black;
          box-shadow: 4px 4px solid black;
}

.skills {
  color: #fcffdb;
}

.nav {
  position: absolute;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: rgba(252, 255, 219, 0.7);
  }
}

.nav-link {
  display: none;
  padding: 1em;
  color: #e7505a;
}

@media only screen and (min-width: 768px) {
  .nav-link {
    display: inline-block;
  }
}

.nav-link:hover {
  color: white;
  background-color: #e7505a;
}

.nav-icon {
  color: #fcffdb;
  font-size: 1.8em;
  position: absolute;
  top: .5em;
  right: 1em;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }
}

/*
responsive class is added to
 #topNav onClick and removed when
 an anchor tag is clicked.
 */
.responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-top: 10vh;
  background-color: #e7505a;
}

.responsive .nav-link {
  display: initial;
  color: #fcffdb;
  margin: 0.5em;
  padding: .5em;
  border-bottom: 1px solid #fcffdb;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 115vh;
  background: linear-gradient(45deg, rgba(146, 173, 57, 0.36) 0%, rgba(146, 173, 57, 0.36) 19%, rgba(130, 168, 72, 0.36) 19%, rgba(130, 168, 72, 0.36) 20%, rgba(163, 178, 43, 0.36) 20%, rgba(163, 178, 43, 0.36) 51%, rgba(113, 163, 86, 0.36) 51%, rgba(113, 163, 86, 0.36) 64%, rgba(97, 159, 100, 0.36) 64%, rgba(97, 159, 100, 0.36) 85%, rgba(196, 187, 15, 0.36) 85%, rgba(196, 187, 15, 0.36) 93%, rgba(179, 182, 29, 0.36) 93%, rgba(179, 182, 29, 0.36) 99%, rgba(80, 154, 114, 0.36) 99%, rgba(80, 154, 114, 0.36) 100%), linear-gradient(45deg, rgba(215, 101, 98, 0.34) 0%, rgba(215, 101, 98, 0.34) 12.5%, rgba(223, 39, 92, 0.34) 12.5%, rgba(223, 39, 92, 0.34) 25%, rgba(207, 164, 104, 0.34) 25%, rgba(207, 164, 104, 0.34) 37.5%, rgba(212, 122, 100, 0.34) 37.5%, rgba(212, 122, 100, 0.34) 50%, rgba(226, 18, 90, 0.34) 50%, rgba(226, 18, 90, 0.34) 62.5%, rgba(218, 81, 96, 0.34) 62.5%, rgba(218, 81, 96, 0.34) 75%, rgba(221, 60, 94, 0.34) 75%, rgba(221, 60, 94, 0.34) 87.5%, rgba(210, 143, 102, 0.34) 87.5%, rgba(210, 143, 102, 0.34) 100%), linear-gradient(286deg, #e7515a, #e8f941);
}

.social {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.social li {
  display: inline-block;
}

.social i {
  display: inline-block;
  margin: 8px;
  padding: 10px;
  border: 1px solid #fcffdb;
  border-radius: 50%;
}

.social i:hover {
  background-color: #fcffdb;
}

.skills {
  background-color: #e7505a;
  border-radius: 25px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-top: -10vh;
}

.skills .skill-list {
  margin: 1.5em;
}

.skills .skill-list .skill-item {
  display: inline-block;
  margin: 10px;
}

footer {
  font-size: .8em;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.about .about-content {
  text-align: center;
  line-height: 1.5em;
  margin: 1.5em;
  padding: .5em;
}

footer {
  height: 10vh;
  width: 100%;
}

.divider-line {
  display: inline-block;
  height: 1px;
  width: 75%;
  border: 0;
  border-top: 1px solid black;
  margin: 2em 0;
  padding: 0;
}

.projects-list {
  margin: 1.5em;
  display: inline-block;
}

.projects-item {
  margin: 1em;
  text-align: left;
  border: 1px solid black;
}

.projects-item:hover {
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

.projects-title {
  padding: .5em;
  background-color: #e7505a;
  color: #fcffdb;
}

.projects-description {
  padding: .5em;
  color: black;
}
/*# sourceMappingURL=styles.css.map */