html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.title .social {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.skills .skill-list {
  width: 75%;
  margin: 1em;
  padding: .5em;
}

.skills .skill-list .skill-item {
  margin: 10px;
}

.projects-list {
  margin-top: 1em;
  padding-top: .5em;
}

.projects-info {
  padding: .5em;
  margin: .5em;
  border: 1px solid #696969;
  -webkit-box-shadow: 2px 2px 2px #696969;
          box-shadow: 2px 2px 2px #696969;
  text-align: left;
}

.projects-info:hover {
  background: #696969;
  color: white;
}

.about .about-content {
  text-align: center;
  line-height: 1.5em;
  margin: 1em;
  padding: .5em;
}

footer {
  height: 10vh;
  width: 100%;
}

/*.angled-box {
    position: absolute;
    background-color: #00e6e6;
    width: 150%;
    height: 50px;
    z-index: -1;
    transform: rotate(0deg) translateY(0px);
}*/
.nav {
  position: absolute;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid black;
  }
}

.nav-link {
  display: none;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  .nav-link {
    display: inline-block;
  }
}

.nav-link:hover {
  color: white;
  background-color: black;
}

.nav-icon {
  color: #696969;
  font-size: 1.8em;
  position: absolute;
  top: .5em;
  right: 1em;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }
}

.responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-top: 10vh;
  background-color: white;
}

.responsive .nav-link {
  display: initial;
  color: black;
  margin: 0.5em;
  padding: .5em;
  border-bottom: 1px solid black;
}

.name {
  font-weight: 400;
  font-size: 2em;
}

.name-last {
  font-weight: 700;
}

.sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}

.social {
  color: #696969;
  font-size: 1.3em;
}

.social i {
  margin: 8px;
  padding: 10px;
  border: 2px solid #696969;
  border-radius: 50%;
}

.social i:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.divider-line {
  display: inline-block;
  height: 1px;
  width: 75%;
  border: 0;
  border-top: 1px solid black;
  margin: 2em 0;
  padding: 0;
}

.skill-list {
  font-family: "Open Sans", sans-serif;
}

.about-content {
  font-family: "Open Sans", sans-serif;
}

footer {
  font-size: .8em;
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=styles.css.map */