html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

html, body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.hero-container nav {
  color: #25425B;
  font-size: 1rem;
  width: 100%;
}

.hero-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #25425B;
  line-height: 1;
}

.hero-container span {
  color: #25425B;
}

#insert {
  display: inline-block;
  color: #FF6F59;
}

body {
  background-image: url("/img/pexels-lumn-167699.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

nav {
  width: 90vw;
}

.arrow {
  -webkit-animation: bobber 4s infinite;
          animation: bobber 4s infinite;
}

@-webkit-keyframes bobber {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bobber {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 90vw;
  height: 90vh;
  padding: 0 1.2rem;
  background: white;
  background: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
}

.hero-container > * {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero-container nav {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-container div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container .center {
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-container a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-container a img {
  max-width: 100%;
  height: auto;
  width: 10vw;
}
/*# sourceMappingURL=styles.css.map */