/*.angled-box {
    position: absolute;
    background-color: #00e6e6;
    width: 150%;
    height: 50px;
    z-index: -1;
    transform: rotate(0deg) translateY(0px);
}*/

.nav {
    position: absolute;
    font-family: $body-font;
    font-size: 1.3em;
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 1.5em;
    
    &-link {
        display: none;
        margin: 1em 0;
        padding: 1.3em;

        @media only screen and (min-width: $bp-tablet) {
            display: inline-block;
        }

        &:hover {
            color: white;
            background-color: black; 
        }
    }

    &-icon {
        color: #696969;
        font-size: 1.8em;
        position: absolute;
        top: .5em;
        right: 1em;

    }

    @media only screen and (min-width: $bp-tablet) {
        
        &-icon {
            display: none;
        }
    }
}

.responsive {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10vh;
    background-color: rgba(0, 0, 0, 0.95);

    .nav-link {
        width: 100%;
        display: initial;
        color: white;
        margin: 0.5em;
        padding: .5em;
        border-bottom: 1px solid white;
    }

}

.name {
    font-family: $title-font;
    font-weight: $regular;
    font-size: 2em;

    &-last {
        font-weight: $bold;
    }
}

.sub-title {
        font-family: $body-font;
        font-size: 1.2em;
}

.social {
    font-size: 1.3em;

    i {
        margin: 8px;
        padding: 10px;
        border: 2px solid #696969;
        border-radius: 50%;
    }
}

.divider-line {
    display: block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
}

.skill-list {
    font-family: $body-font;
}

.about-content {
    font-family: $body-font;
}

footer {
    font-size: .5em;
    font-family: $body-font;
}