/*.angled-box {
    position: absolute;
    background-color: #00e6e6;
    width: 150%;
    height: 50px;
    z-index: -1;
    transform: rotate(0deg) translateY(0px);
}*/

.top-nav {
    width: 100%;
    background-color: red;
}

.title {
    font-family: $title-font;
    font-weight: $regular;
    font-size: 2em;

    .last-Name {
        font-weight: $bold;
    }
}

.sub-title {
        font-family: $body-font;
        font-size: 1.2em;
}

.social {
    font-size: 1.3em;

    i {
        margin: 8px;
        padding: 10px;
        border: 2px solid #696969;
        border-radius: 50%;
    }
}

.divider-line {
    display: block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
}

.skill-list {
    font-family: $body-font;
}

.about-content {
    font-family: $body-font;
}

footer {
    font-size: .5em;
    font-family: $body-font;
}