html body {
    align-content: center;
    margin: auto;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 56px;
    color: white;
    letter-spacing: 2px;
}

#tagline {
    font-family: 'Cardo', serif;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    letter-spacing: 3px;
    margin-top: -10px;
}

.container1 {
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
    list-style: none;
}

li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0px 15px 0px 15px;
}

#navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 24px 10px 24px;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 3px;
}

#navbar a:hover {
    background-color: #ddd;
    color: white;
}

#navbar a:active {
    background-color: #4CAF50;
    color: white;
}

#welcome-section {
    min-height: 65vh;
    padding-top: 35vh;
    text-align: center;
    margin: 0;
}

h2 {
    color: black;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    padding: 35px 0px 40px 0px;
}

/* Projects Section */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    min-height: 55vh;
    padding: 10vh 0 10vh 0;
}

#tribute-page {
    grid-column: 1;
}

#survey-page {
    grid-column: 2;
}

.shadows {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-title {
    font-family: 'Cardo', serif;
    /*text-transform: uppercase;*/
    font-size: 18px;
    text-align: center;
}
/* Contact Section */
#contact {
    margin-bottom: 25px;
}

#contact-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding-bottom: 25vh;
    
}

#contact-section a {
    text-decoration: none;
}

.profile-link {
    width: 150px;
    height: 100px;
    border-style: solid;
    border-color: #0C4767;
    background-color: #0C4767;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-git {
    grid-column: 1;
}

#contact-freeCode {
    grid-column: 2;
}

#contact-facebook {
    grid-column: 3;
}

#contact-email {
    grid-column: 4;
}

.contact-link {
    font-family: 'Cardo', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
/* Footer Section */
footer {
    background: black;
    align-content: center;
    padding: 25px 0 10px 0;
}

footer p {
    margin-top: 0;
    color: white;
    text-align: center;
    font-family: 'Cardo', serif;
    text-transform: uppercase;   
}

/* Mobile media query */
@media only screen and (max-device-width: 480px) {
    .hide-mobile {
        display: none;
    }
}
/* desktop media query to hide things */
@media only screen and (min-device-width: 481px) {
    .show-mobile {
        display: none;
    }
}