html body {
    align-content: center;
    margin: auto;
    background: rgb(4, 29, 43);
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    color: white;
}
.section-headers {
    font-family: 'Permanent Marker', cursive;

}
/*Header --- Nav*/
#myName {
    margin-left: 10px;
}

ul {
    list-style: none;
}

li a {
    color: white;
    font-family: 'Permanent Marker', cursive;
    margin: 0px 10px 0px 10px;
}
#header {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    height: 15vmin;
    width: 100%;
    background: black;
}

#navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}

#navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 5px 10px 5px;
    text-decoration: none;
    font-size: 2.5vmin;
    letter-spacing: 3px;
}

#navbar a:hover {
    background-color: #ddd;
    color: white;
}

#navbar a:active {
    background-color: #4CAF50;
    color: white;
}

/*Welcome Section */
#welcome-section {
    width: 100%;
    height: 100vmin;
    background: rgb(4, 29, 43);
    text-align: center;
}
.tagline {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 8vmin;
    color: white;
    line-height: 50vh;
}
/* Projects Section */
h2 {
    background: white;
    color: black;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    padding: 35px 0px 40px 0px;
}

.project {
    width: 100%;
    text-align: center;

}
.grayScale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


#tribute-page {
    background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 25px,
    #ddbb24 25px,
    #b14d2e 150px
);
}
img a {
    size: 15vh;
}

.project-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 1.5vmin;
    text-align: center;
}
/* Contact Section */
#contact {
    padding-bottom: 25px;
}

#contact-section {
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding: 25vh 0;
    
}

#contact-section a {
    text-decoration: none;
}

.profile-link {
    width: 150px;
    height: 100px;
    border-style: solid;
    border-color: #0C4767;
    background-color: #0C4767;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-git {
    grid-column: 1;
}

#contact-freeCode {
    grid-column: 2;
}

#contact-facebook {
    grid-column: 3;
}

#contact-email {
    grid-column: 4;
}

.contact-link {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
/* Footer Section */
footer {
    background: black;
    align-content: center;
    padding: 25px 0 10px 0;
}

footer p {
    margin-top: 0;
    color: white;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;   
}

/* Mobile media query */
@media screen and (max-device-width: 480px) {

   
}
/* desktop media query to hide things */
@media screen and (min-device-width: 481px) {

}