.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

//About Me section

.about {

    .about-content {
        text-align: center;
        line-height: 1.5em;
        margin: 1.5em;
        padding: .5em;
    }
}

// Footer

footer {
    height: 10vh;
    width: 100%;
}