.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

// Skills section

.skills {

    .skill-list {
        margin: 1.5em;

        .skill-item {
            display: inline-block;
            margin: 10px;
        }
    }
}

//About Me section

.about {

    .about-content {
        text-align: center;
        line-height: 1.5em;
        margin: 1.5em;
        padding: .5em;
    }
}

// Footer

footer {
    height: 10vh;
    width: 100%;
}