.skills {
    background-color: $color-offred;
    border-radius: 25px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: -10vh;

    .skill-list {
        margin: 1.5em;

        .skill-item {
            display: inline-block;
            margin: 10px;
        }
    }
}