.arrow {
    flex-basis: 25%;
    display: flex;
    width: 100%;
    justify-content: center;
    animation: bobber 3s infinite;
    
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    
    }
}

@keyframes bobber {
    from {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    to {transform: translateY(0);}
}