.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/pexels-lumn-167699.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;
    width: 100vw;
    height: 100vh;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 1.2rem;
    background: rgba(0, 0, 0, 0.8);
    // background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 75%, rgba(255,255,255,0) 100%);
    
    .content {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        flex-direction: column;
    }    
}