// split this into accordian under components and projects under layout
.projects {

    &-list {
        margin: 1.5em;
        display: inline-block;
    }

    &-item {
        margin: 1em;
        text-align: left;
        border: 1px solid $color-black;
        
        &:hover {
            box-shadow: 4px 4px 8px $color-black;
        }
    }
    
    &-title {
        padding: .5em;
        background-color: $color-offred;
        color: $color-offwhite;
    }

    &-description {
        padding: .5em;
        color: $color-black;
    }
}
