html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

a {
    color: $color-white;
    text-decoration: none;
}
