html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
    // border: 1px solid red !important;
}

h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}