html, body {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

.hero-container {
    nav {
        font-family: $font-heading;
        font-size: 1.5rem;

        a {
            color: $white;
        }
    }

    .content {
        color: $white;
        
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-accent-light;
            line-height: 1;
        }
    }
    

}


#insert {
    display: inline-block;
    color: $color-accent-light;
}