// typography
$font-heading: 'Roboto', sans-serif;
$font-body: 'Open Sans', sans-serif;

// breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

// colors
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$color-main: #25425B;
$color-accent-light: #C9D6E1;
$color-accent-dark: #647C94;
$color-accent-alt: #64848C;
$color-contrast: #2A0800;
$color-contrast-light: #FF6F59;