// typography
$title-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;
$regular: 400;
$bold: 700;

// breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

// colors
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-accent: hsl(180, 100%, 45.1%);

// gradients
$color-gradient-green: linear-gradient(45deg, rgba(146, 173, 57, 0.36) 0%, rgba(146, 173, 57, 0.36) 19%,rgba(130, 168, 72, 0.36) 19%, rgba(130, 168, 72, 0.36) 20%,rgba(163, 178, 43, 0.36) 20%, rgba(163, 178, 43, 0.36) 51%,rgba(113, 163, 86, 0.36) 51%, rgba(113, 163, 86, 0.36) 64%,rgba(97, 159, 100, 0.36) 64%, rgba(97, 159, 100, 0.36) 85%,rgba(196, 187, 15, 0.36) 85%, rgba(196, 187, 15, 0.36) 93%,rgba(179, 182, 29, 0.36) 93%, rgba(179, 182, 29, 0.36) 99%,rgba(80, 154, 114, 0.36) 99%, rgba(80, 154, 114, 0.36) 100%),
    linear-gradient(45deg, rgba(215, 101, 98, 0.34) 0%, rgba(215, 101, 98, 0.34) 12.5%,rgba(223, 39, 92, 0.34) 12.5%, rgba(223, 39, 92, 0.34) 25%,rgba(207, 164, 104, 0.34) 25%, rgba(207, 164, 104, 0.34) 37.5%,rgba(212, 122, 100, 0.34) 37.5%, rgba(212, 122, 100, 0.34) 50%,rgba(226, 18, 90, 0.34) 50%, rgba(226, 18, 90, 0.34) 62.5%,rgba(218, 81, 96, 0.34) 62.5%, rgba(218, 81, 96, 0.34) 75%,rgba(221, 60, 94, 0.34) 75%, rgba(221, 60, 94, 0.34) 87.5%,rgba(210, 143, 102, 0.34) 87.5%, rgba(210, 143, 102, 0.34) 100%),
    linear-gradient(286deg, rgb(231, 81, 90),rgb(232, 249, 65));
